body{
        background:
          linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url('gmbg.gif');
        background-color:#010203;
        font-family:'Code New Roman'!important;
        color:white;
        text-align:center;
        max-width:800px;
        margin: 0 auto;
        padding: 20px;
      }

a{
  text-decoration:underline;
}

.header-box{
  padding-top:32px;
  padding-bottom:32px;
}
.special-link{
  color:black!important;
}
.special-link:hover{
  color:blue!important;
}
@font-face{
  font-family:'Code New Roman';
  src: url('Code New Roman.otf');
}

.text-box{
  width: 100%;
  padding:8px;
  background-color:white;
  color:black;
  margin-top:16px;
  margin-bottom:16px;
  text-align:justified!important;
  text-justify: inter-word!important;
}

.text-box-title{
  width:100%;
  color:white!important;
  background-color:black!important;
}

.figure-box{
  background-color:white;
  color:black;
  text-align:center;
  padding: 0pt;
  overflow:hidden;
  padding:11pt;
  margin:8pt;
  float:left;
  width:30%;
}

.figure-box-big{
  background-color:white;
  color:black;
  text-align:center;
  overflow:hidden;
  padding:11pt;
  float:left;
  width:100%;
}
}

@media only screen and (max-width:768px){
body{
  margin: 0px!important;
}
.figure-box{
  margin:0pt!important;
  margin-left:5vw!important;
  margin-top:8pt!important;
  margin-bottom:8pt!important;
  width:80vw!important;
}

.text-box{
}
}